body, html, div {
  font-size: 15px;
  line-height: 1.5em;
}

:root {
  --primary-color: #A7B6C2;
  --s1: 8px;
  --background-color: #f5f6f800;
}

.starred-pages-wrapper > div:first-child {
  display: none;
}

.bp3-icon-star::before,
span.bp3-icon:empty::before,
.bp3-button[class*="bp3-icon-"]::before{
  color: #606367;
}

.starred-pages-wrapper .flex-h-box span {
  display: none;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page, .roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper, .roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button {
  text-transform: lowercase;
}

.roam-body .roam-app {
  color: #111111;
}

#roam-sidebar-logo {
  display: none;
}

#roam-sidebar-logo .flex-h-box,
.log-button,
.starred-pages-wrapper {
  border-right: 1px solid #eef0f4;
}

.roam-topbar, .roam-body .roam-app .roam-sidebar-container {
  border-bottom: 1px solid #eef0f4;
}

.roam-topbar,
.roam-body .roam-app .roam-sidebar-container {
  background-color: #f1f3f4;
}

.roam-sidebar-container .rm-db-title-container .rm-db-title {
  color: #383b3f;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page,
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper,
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button {
  color: #383b3f;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .top-row:hover,
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button:hover,
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page:hover {
  color: #383b3f;
  background-color: #fefefe;
}

.roam-topbar input#find-or-create-input { 
  border-radius: 5px;
  box-shadow: none !important;
  background-color: #f1f3f4;
  color: #111;
}  

.kanban-column,
.rm-reference-item,
#right-sidebar {
  background-color: #f1f3f4;
}

.rm-page-ref-tag {
  color: #8f8f8f
}

a,
.rm-page-ref-link-color {
  color: #2562bb;
}

a:hover,
.rm-page-ref:hover {
  text-decoration: none;
  color: #2562bb;
}

body {
  background-color: #ffffff;
}


.rm-level1 .roam-block,
.rm-level2 .roam-block,
.rm-level3 .roam-block {
  line-height: 1.5em;
}
.rm-level1,
.rm-level2,
.rm-level3,
.rm-level1 textarea,
.rm-level2 textarea,
.rm-level3 textarea {
  font-size: inherit;
  line-height: 1.5em;
}

.roam-body .roam-app h1,
.rm-level1 {
  font-weight: 600;

}

.rm-level2 {
  font-weight: 600;
}

.rm-level3 {
  font-weight: normal;
  font-style: italic;
}

.roam-article h1:first-child,
.rm-title-display,
.roam-body .roam-app .roam-main .roam-article .rm-title-display,
.level2 {
  font-size: 20px;
  font-family: inherit;
  font-weight: 600;
  color: inherit;
  border-bottom: none;
  min-height: 32px;
}

.rm-caret {
  color: #b2b5ba;
}

.check-container input:checked ~ .checkmark,
.controls .simple-bullet-outer .simple-bullet-inner {
  background-color: #b2b5ba;
}

.kanban-board {
  background-color: #ccc;
}

.rm-mentions .rm-ref-page-view .rm-ref-page-view-title {
  font-size: 15px;
}

.rm-mentions .rm-ref-page-view .rm-ref-page-view-title a:hover {
  text-decoration: none;
}

.block-highlight-blue{
  background-color: #cee2fc;
}

.roam-log-container .roam-log-preview h1,
.roam-log-container .roam-log-preview {
  color: #8f8f8f;
  border-bottom: none;
}

.check-container {
  top: -8px;
}

.block-border-left {
  border-left: 1px solid #b2b5ba;
}

.rm-reference-item {
  border: 1px solid #eef0f4;
}


textarea {
  line-height: 1.5em;
  min-height: 32px;
}

.roam-block,
.rm-block-input {
  line-height: 1.5em;
  min-height: 32px;
  margin-top: 0px;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page,
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button,
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button > div {
  font-size: 14px;
  line-height: 1em;
}

.roam-log-container .roam-log-page {
  border-top: 1px solid #b2b5ba;
}

span.bp3-icon-standard {
  font-size: 20px;
}

.kanban-board {
  background-color: #e1e3e4;
}

.rm-query .rm-query-title {
  display: none;
}

.rm-block-text {
  max-width: inherit;
}